// ==========================================================================
// Extends
// ==========================================================================

%vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 0;
}