// ==========================================================================
// Header
// ==========================================================================

.header {
	padding: rem(20px);
	
	.subtitle {
		max-width: rem(760px);
	}
	
	.hashtag {
		font-weight: $font-weight--bold;
	}
}