// ==========================================================================
// Tweet Card
// ==========================================================================

.tweet-card {
	max-width: rem(980px);
	margin: auto;
	
	@include e(title){
		margin: rem(20px) 0;
		
		&:first-child {
			margin-top: 0;
		}
	}
}