<article class="tweet-card">

	<p ng-show="loadingTweets">Loading tweets...</p>
	
	<div class="row" ng-repeat="tweet in tweets" ng-if="tweet.youtubeLink">
		<div class="col-md-12">
			<h2 class="tweet-card__title headline-3">{{ tweet.title }}</h2>
		</div>
		
		
		<div class="col-md-8">
			<iframe width="640" height="360" src="{{ tweet.youtubeLink }}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<img ng-src="{{ tweet.userImg }}" alt="">
			<span>@{{ tweet.userName }}</span>
			{{ tweet.text }}
		</div>
	</div>
</article>
