
<p ng-show="loadingTweets">Loading tweets...</p>

<article class="tweet-card" ng-repeat="tweet in tweets">

	<div class="row"  ng-if="tweet.youtubeLink">
		<div class="col-md-12">
			<h2 class="tweet-card__title headline-3">{{ tweet.title }}</h2>
		</div>
		
		
		<div class="col-md-7">
			<div class="video-wrapper">
				<iframe width="640" height="360" src="{{ tweet.youtubeLink }}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
		<div class="col-md-5">
			
			<img ng-src="{{ tweet.avatar }}" class="tweet-card__img" alt="Avatar">
			<span>@{{ tweet.userName }}</span>
			
			<blockquote>
				<p>{{ tweet.text }}</p>
				<span>{{ tweet.created_at }}</span>

			</blockquote>
		</div>
		
	</div>
</article>
